body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.5;
  margin: 20px;
  color: rgb(64, 17, 77);
  text-align: center;
}

.custom-button {
  background-color: #b96e3c;
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: block;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.2rem;
}
